#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex; /* Fügt Flexbox hinzu */
  flex-direction: column; /* Ordnet Elemente vertikal an */
  justify-content: center; /* Zentriert Elemente vertikal */
  gap: 2rem; /* Abstand zwischen den Elementen innerhalb des root-Containers */
}

.App-header .logo {
  margin-bottom: 3rem; /* Erhöht den Abstand zwischen Logo und Buttons */
}

.App-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem; /* Erhöht den Abstand zwischen den Buttons */
  background-color: #222; /* Hintergrund des Logo schwarz, wenn kein Darkmode*/
}

.logo {
  height: 100px;
  width: auto;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* Anpassen für Abstand zwischen Logo und Buttons */
  padding: 2rem; /* Optional für zusätzlichen Abstand */
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Anpassen für Abstand zwischen den Buttons */  
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
