/* newacc.css */

.account-erstellung-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% der Bildschirmhöhe */
}

.logo {
  height: 100px;
  width: auto;
  padding: 1.5em;
  margin-bottom: 2rem;
  will-change: filter;
  transition: filter 300ms;  
}

.eingabefelder {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.eingabefelder input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.eingabefelder input:hover {
  border-color: #535bf2; /* Ändern der Rahmenfarbe beim Hover */
}

button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* Hover-Effekt für Links */
a:hover {
  color: #535bf2;
}

