/* newsfeed.css */

/* Flex-Container für die gesamte App, vertikal ausgerichtet */
.app {
  display: flex;
  flex-direction: column; /* Änderung der Ausrichtung auf Spalten */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Logo-Styling */
.logo {
  height: 100px;
  width: auto;
  padding: 1.5em;
  margin-bottom: 2rem;
  will-change: filter;
  transition: filter 300ms;
}

/* Chat-Fenster-Styling */
.chat {
  border: 1px solid #ccc;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Container für Nachrichten, vertikal ausgerichtet */
.messages {
  display: flex;
  flex-direction: column; /* Änderung auf Spaltenausrichtung */
}

/* Stil für jede Sprechblase (Nachricht) */
.message {
  position: relative;
  max-width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: darkblue;
  margin-right: 50px; /* Ändere diesen Wert, um die Sprechblasen horizontal zu versetzen */
  margin-right: 50px; /* Ändere diesen Wert, um die Sprechblasen horizontal zu versetzen */
  border: none; /* Entfernen Sie den Rahmen */
}

/* Benutzerinformationen-Stil in der Sprechblase, rechts ausgerichtet */
.user-info {
  align-self: flex-end; /* Rechtsausrichtung für Benutzerinformationen */
  margin-right: 5px; /* Margin für die Positionierung */
  font-size: 0.8em;
  color: #999;
}

/* Stil für den Eingabecontainer */
.input-container {
  display: flex;
  margin-top: 10px;
}

/* Stil für das Eingabefeld */
input {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
}

/* Stil für den Senden-Button */
button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}


